body {
    margin: 0;
    z-index: 0;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body::before {
    content: '';
    top: 0;
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    background-image: url('bg4.jpg');
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.dog {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
}

.dogpeep {
    height: 410px;
    display: block;
    width: 250px;
    object-fit: contain;
    transform: translate(69.5px, 48px);
    z-index: 10;
}

.cat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
}

.catpeep {
    height: 300px;
    display: block;
    width: 200px;
    object-fit: contain;
    transform: translate(-58px, -90px);
    z-index: 10;
}

form {
    background-color: rgb(255, 255, 255);
    width: 420px;
    height: 450px;
    border-radius: 12px;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    z-index: 1;
    padding: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.name {
    font-size: 39px;
    font-family: Gaegu;
    color: Black;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
}

button, .sign {
    width: 385px;
    height: 38px;
    border-radius: 5px;
    background-color: #222936;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
}

.sign {
    background-color: #5f6b94;
    text-decoration: none;
}

.front, .sign-up {
    display: block;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 1.2rem;
    background: #475272;
    color: white;
    transform: translateY(-5px);
    text-align: center;
    font: normal 15px calibri;
}

.sign-up {
    background-color: #8da1db;
}

.front:hover {
    background: #3e4561;
}

.sign-up:hover {
    background: #7a88be;
}

button:active .front, .sign-up:active {
    transform: translateY(-1px);
    transition-duration: 0.1s;
}


label {
    width: 100%;
    font-size: 13px;
    font-family: calibri;
    color: rgba(0, 0, 0, 0.664);
    margin-left: 38px;
    margin-bottom: 5px;
    text-align: left;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.input-wrapper {
    position: relative;
    width: 385px;
    height: 40px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 28px;
    font-size: 14px;
    font-family: calibri;
    box-sizing: border-box;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    pointer-events: none;
    opacity: 0.5;
    z-index: 2;
}

.forgot-pass {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.664);
    font-family: monospace;
    margin-top: 9px;
    font-family: "Winky Rough";
    font-size: 13px;
}

.forgot-pass:hover {
    text-decoration: underline;
}