html {
    height: 100%;
    margin-top: 1px;
    padding: 0;
    scrollbar-width: thin;
}

body {
    background-image: url(vet.jpg);
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    margin: 0;
    background-size: 100vw 60vw;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
    margin: 350px;
}

#logo2 {
    width: 48px;
    height: 48px;
    margin-right: 1vw;
    position: static;
}

.brand {
    display: flex;
    align-items: center;
}

.profbutton  {
    width: 60px;
    height: 60px;
    position: static;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.profbutton:hover {
    transform: scale(1.4);
    transition-duration: 0.5s;
}

.profbutton:active {
    transform: scale(1.1);
}

#navbar {
    position: fixed;
    top: 0;
    background-color: #1e2a36;
    margin: 20px;
    width: calc(100% - 40px);
    height: 75px;
    display: flex;
    padding: 0 20px;
    z-index: 10;
    border-radius: 15px;
    box-sizing: border-box;
    justify-content: space-between;
}

#navbar h2 {
    margin: 0;
    font: bold 50px courier;
    color: white;
    position: static;
    font-variant: small-caps;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-buttons {
    color: white;
    font: 12.5px calibri;
    background-color: rgba(101, 50, 57, 0);
    height: 100%;
    padding: 0 20px 0 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    border-radius: 10px;
}

.nav-buttons:hover {
    background-color: #b7d6ff;
    border-radius: 10px;
    color: #294158;
    height: 60%;
    transition-duration: 0.3s;
}

.nav-buttons::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 25px;
    vertical-align: middle;
    background: url('https://images.emojiterra.com/google/noto-emoji/animated-emoji/1f43e.gif') no-repeat center center;
    background-size: contain;
    opacity: 0;
    margin-right: 2px;
    transition: opacity 0.5s;
}

.nav-buttons:hover::before {
    opacity: 1;
}

footer {
    width: 100%;
    color: white;
    padding-top: 20px;
    font-family: monospace;
}

.footer-content {
    background-color: #294158;
    display: flex;
    padding: 10px 10px 10px 10px;
    justify-content: center;
    margin-top: 0;
    position: relative;
    text-align: center;
}

.footer-content::after {
    content: "";
    width: 80%;
    height: 0.1px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
}

.footer-col {
    flex: 1 1 0;
    text-align: left;
    margin: 0;
    box-sizing: border-box;
    font: normal 13px calibri;
}

.about {
    font-variant: small-caps;
}

.footer-col h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #b7d6ff;
    margin-top: 0;
    font: Bold 17px calibri;
}

h3.soc {
    text-align: center;
    margin-bottom: 15px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-col li {
    padding-bottom: 25px;
    text-align: center;
    line-height: 1.5;
}

.footer-bottom {
    background-color: #1e2a36;
    margin: 0;
    padding: 10px 20px;
    display: flex;
}

.footer-bottom p {
    margin: 0;
    font-size: 13px;
    color: #b7d6ff;
}

.footer-links {
    margin-left: auto;
}

.footer-links a {
    text-decoration: none;
    color: #b7d6ff;
    font-size: 13px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-col.socmed {
    background-color: #294158;
    padding-top: 20px;
}

.socmed-icons li{
    display: inline-block;
}

.socmed-icons a{
    text-decoration: none;
    color: white;
    margin: 5px;
}

.socmed-icons img {
    height: 40px;
    width: 40px;
}

.socmed-icons img:hover {
    transform: scale(1.3);
    transition-duration: 0.4s;
}

